/*
Author: Francisco
This CSS file gives structure to how the card information is displayed to the user
*/

#card {
    border-radius: 6px;
    width: 20%;
    height: 30%;
}

.card-sub1 {
    width: 100%;
    height: 20%;
    border: 1px solid black;
}

.card-sub2 {
    border: 1px solid black;
    width: 100%;
    height: 80%;
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
}

#center {
    text-align: center;
    font-size: 20px;
    text-overflow: ellipsis;
}

#description {
    white-space: normal;
    overflow: hidden;
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    text-overflow: clip;
    word-wrap: break-word;
    font-size:12px;
    text-justify: distribute;
}