/*


*/
button {
    border-radius: 45px;
    font-size: 16px;
    padding: 7px;
}

form {
    background-clip: content-box;
    background-color: lightgrey;
    padding: 20px;
}

#create-card {
    margin-left: 20px;
    border-radius: 45px;
}

#delete-deck {
    margin-bottom: 20px;
    border-radius: 45px;
}

h1{
    color: #ccccff;
    margin-left: 10px;
}
#board {
    width:100%;
    height: 10000px;
}
#boardDiv{
    width:100%;
    height: 1000px;
    overflow: scroll;
}

#decks {
    border: none;
}

.pcard {
    border: 1px solid black;
    width: 20%;
    height: 30%;
    float: left;
    margin: 5px;
}


.cardheader {
    width: 100%;
    height: 20%;
    border: 1px solid black;
    background-color: #99ff66;
}

.cardbody {
    border: 1px solid black;
    width: 100%;
    height: 80%;
    white-space: normal;
    overflow: hidden;
    text-overflow: clip;
    background-color: #ccff00;
}
label{
    float: left;
}
input{
    float:right;
}
textArea{
    float:right;
}
select{
    float:right;
}
.ui-dialog{
    background-color: #ffffcc;
    padding: 15px;
}
#center {
    text-align: center;
    font-size: 20px;
    text-overflow: ellipsis;
}

#description {
    white-space: normal;
    overflow: hidden;
    border-left:1em solid transparent;
    border-right:1em solid transparent;
    text-overflow: clip;
    word-wrap: break-word;
    font-size:12px;
    text-justify: distribute;
}

body{
    background-color: #38A125;
}
#dialog-form{
    background-color: rgba(200,200,200,1);
    width: available;
    height: available;
    display: block;
    z-index: 2;
}
#dialog-form input{
    float:right;
}
#dialog-form textArea{
    float:right;
    height: 100px;
    width: 250px;
    resize: vertical;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
#dialog-form label{
    float:left;
}
.is-dimmed::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: -1;
}