/*
Applies default design visualization to the main page

*/

input {
    border-radius: 50px;
    margin-left:5px;
    padding-left: 7px;
    padding-right: 7px;
}

button {
    font-size: 16px;
}

#create-user {
    border-radius: 5px;
    margin-top:20px;
}

body {
    text-align: center;
    background-color: #38A125;
    
}
#indice{
    margin-top: 200px;
}

#texto{
    color:rgb(216, 218, 238)
}
#dialog-form{
    background-color: rgba(200,200,200,1);
    width: available;
    height: available;
    display: block;
    z-index: 2;
}
#dialog-form input{
    float:right;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
#dialog-form label{
    float:left;
}
.is-dimmed::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: -1;
}