/* 
    Created on : 17 sept. 2019, 9:43:54
    Author     : David
*/
#lateralMenu{
    width: 18%;
    float: left;
}

#main{
    width: 75%;
    float: left;
    background-color: #38A165;
    margin: 40px;
    border-radius: 6px;
}

.deck{
    background-color: #38A165;
    border: 1px black solid;
    padding: 5px;
    
}
#tittle{
    text-align: center;
}

#create-deck {
    margin-bottom: 20px;
}

#edit-deck {
    margin-top: 20px;
}

#decks {
    border-style: none;
    border-radius: 6px;
}

body{
    background-color: #38AD24;
    background-repeat: no-repeat;
    color: whitesmoke;
}

.edit1{
    float: left;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 10px;
    color: #ffffff;
    background-color:#000066;
    border-radius: 6px;
    border-bottom-color: #3333ff;
    border: 0px;

}  
#dialog-form{
    background-color: rgba(200,200,200,1);
    width: available;
    height: available;
    display: block;
    z-index: 2;
}
#dialog-form input{
    float:right;
}
.ui-dialog-titlebar-close {
    visibility: hidden;
}
#dialog-form label{
    float:left;
}
.is-dimmed::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    z-index: -1;
}